// màu nền gradient từ hồng -> xanh biển
.bg-gradient-primary {
  background: linear-gradient(
    90deg,
    rgb(238, 237, 243) 0%,
    0.77381%,
    rgb(239, 238, 244) 1.54762%,
    6.72619%,
    rgb(239, 236, 243) 11.9048%,
    12.381%,
    rgb(240, 237, 244) 12.8571%,
    27.9167%,
    rgb(242, 236, 244) 42.9762%,
    51.9048%,
    rgb(239, 236, 243) 60.8333%,
    61.9643%,
    rgb(238, 235, 246) 63.0952%,
    66.7262%,
    rgb(235, 234, 249) 70.3571%,
    73.2738%,
    rgb(232, 232, 248) 76.1905%,
    77.1429%,
    rgb(230, 231, 248) 78.0952%,
    79.9405%,
    rgb(228, 229, 249) 81.7857%,
    84.1667%,
    rgb(227, 228, 248) 86.5476%,
    87.0238%,
    rgb(226, 227, 248) 87.5%,
    89.3452%,
    rgb(224, 224, 252) 91.1905%,
    95.5952%,
    rgb(220, 223, 252) 100%
  );
}

.rounded-oval {
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' fill='none'%3E%3Cpath fill='%23000' d='M100 0C20 0 0 20 0 100s20 100 100 100 100-20 100-100S180 0 100 0z'/%3E%3C/svg%3E");
}

.message-box {
  @apply rounded-lg p-2 text-sm;
}

.word-break-break-word {
  word-break: break-word;
}

.phone-detect,
.email-detect {
  @apply cursor-copy text-white rounded px-1 bg-orange-500 text-sm;
}

.link-detect {
  @apply text-blue-500 underline;
}

.enter-line {
  @apply break-words whitespace-normal;
}

.bg-glass {
  background: rgba(255, 255, 255, 0.2) !important;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
